.todo {
  // position: relative;
  // width: 100%;
  // top: 60px;
  // left: 21%;
  // height: 100vh;
  // margin-top: 20px;
  padding: 0;
  background-color: #11100f;
  h3 {
    color: #fff;
  }

  input {
    // width: 100%;
    height: 52px;
    border: 0;
    border-radius: 3px;
    background-color: #252423;
  }
}

.addToTop {
  padding: 0 25px;
}

.addToSet {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #252423;
  border-top: 1px solid #7a7676;
  border-radius: 3px;
  svg {
    margin-right: 15px;
  }
  button {
    padding: 7px 10px;
    border: 1px solid #7a7676;
    background-color: #252423;
    font-size: 12px;
    font-weight: bold;
    color: #78bafd;
    vertical-align: middle;
    cursor: pointer;
  }
}

.tasks {
  // overflow-y: scroll;
  overflow: auto;
  max-height: 100vh;
  ul {
    padding: 0 17px 0 25px;
  }
}

.taskItem {
  display: flex;
  justify-content: space-between;
  min-height: 52px;
  align-items: center;
  margin-top: 15px;
  padding: 0 25px;
  background-color: #252423;
  word-wrap: break-word;
  word-break: break-word;
  &:last-child {
    margin-bottom: 300px;
  }
  span {
    padding: 10px 0;
    font-size: 12px;
  }
  &:hover {
    background-color: #3b3a39;
  }
}

.inputWrapper {
  width: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  background-color: #252423;
}
.titleWrapper {
  display: flex;
  align-items: center;
}

.circle {
  display: inline;
  height: 15px;
  width: 15px;
  margin: 20px;
  background-color: transparent;
  border: 1px solid #78bafd;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  &:hover::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #78bafd;
    font-size: 8px;
    line-height: 8px;
  }
}

.input {
  width: 100%;
  border: 0px;
  padding: 8px 15px;
  padding-left: 42px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #252423;
  &::placeholder {
    color: #78bafd;
  }
  &:focus {
    &::placeholder {
      color: #fff;
    }
  }
}

.star {
  min-height: 18px;
  min-width: 18px;

  fill: #252423;
  stroke: #78bafd;
  cursor: pointer;
  &:hover {
    fill: #78bafd;
  }
}
.accordionMain {
  // padding: 25px;
  margin-top: -300px;
  overflow: hidden;
}
.accordionItem {
  // padding: 0 25px;
  border-bottom: 1px solid #7a7676;
}

.accordionButton {
  padding: 0;
  background-color: #11100f;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 14px;
  font-weight: bold;
  span {
    margin-left: 8px;
    color: #a19f9d;
  }
}

.accordionButton:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordionButton[aria-expanded='true']::before,
.accordionButton[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordionPanel {
  animation: fadein 0.25s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.circleCompleted {
  display: inline;
  height: 15px;
  width: 15px;
  margin: 20px;
  background-color: #78bafd;
  border: 1px solid #78bafd;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  &::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #000;
    font-size: 8px;
    line-height: 8px;
  }
}
