.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.buttonSidebarOpen {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.ImportantTitle {
  // align-self: center;
  svg {
    margin-right: 10px;
    vertical-align: middle;
  }
  span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    color: #78bafd;
  }
}

.sidebarIsOpen {
  display: inline-block;
}
.sidebarIsClose {
  display: inline-block;
}
