.addToTop {
  padding: 0 25px;
}
.addToTopInput {
  height: 52px;
  border: 0;
  border-radius: 3px;
  background-color: #252423;
}

.inputWrapper {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #252423;
}
.addToTopSpan {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.addToTopCloseButton {
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}
.addToTopDatePicker {
  position: static;
  top: 10px;
  right: 600px;
}
.setCalendarWrapper {
  display: flex;
}
// .addToTopInput {
//   height: 52px;
//   border: 0;
//   border-radius: 3px;
//   background-color: #252423;
// }

.circle {
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 20px;
  padding: 7px;
  background-color: transparent;
  border: 1px solid #78bafd;
  border-radius: 50%;
  cursor: pointer;
  &:hover::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #78bafd;
    font-size: 8px;
    line-height: 8px;
  }
}
.addToTopInput {
  width: 100%;
  border: 0px;
  padding: 8px 15px;
  padding-left: 42px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #252423;
  &::placeholder {
    color: #78bafd;
  }
  &:focus {
    &::placeholder {
      color: #fff;
    }
  }
}
.addToSet {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #252423;
  border-top: 1px solid #7a7676;
  border-radius: 3px;
  svg {
    vertical-align: middle;
    margin-right: 15px;
  }
}
.importantButton {
  background-color: transparent;
  border: 0;
}
.addToSetCalendarButton {
  padding: 7px 10px;
  margin-right: 10px;
  border: 1px solid #7a7676;
  background-color: #252423;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}
.addToSetCalendarButtonActive {
  color: #78bafd;
}
.addToSetButton {
  padding: 7px 10px;
  border: 1px solid #7a7676;
  background-color: #252423;
  font-size: 12px;
  font-weight: bold;
  color: #78bafd;
  vertical-align: middle;
}
.addDeadlineButton {
  border: 0;
  background-color: transparent;
}
.star {
  stroke: #fff;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .addToTop {
    padding: 0 15px;
  }
  .addToTopDatePicker {
    position: static;
  }
  .addToSetCalendarButton {
    font-size: 11px;
  }
}
