.header {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1B1A19;
    border-top: 1px solid #7a7676;
    border-bottom: 1px solid #7a7676;
}
.headerLogo {
    display: flex;
    align-items: center;
}


.title {
    display: inline;
    margin-left: 15px;
    font-size: 22px;
    color: #fff
}