.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1a19;
  border-top: 1px solid #7a7676;
  border-bottom: 1px solid #7a7676;
}
.headerLogo {
  display: flex;
  align-items: center;
  margin-left: 5px;
  transition: all 0.3s ease 0s;
}

.title {
  display: inline;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.toolbarWrapper {
  display: flex;
  align-items: center;
}
