.detailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
  height: 100vh;
  padding: 25px 25px 75px 25px;
  background-color: #201f1e;
  border-right: 1px solid #252423;
}

.detailsBody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #252423;
  // button {
  //   margin: 15px;
  // }
}

.managingStatusTasks {
  button {
    height: 52px;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #252423;
    border: 0;
    color: #a19f9d;
    text-align: left;
    svg {
      fill: #a19f9d;
      vertical-align: middle;
    }
  }
}
.statusTasksButton {
  width: 100%;
}
.myDayWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover button {
    background-color: #3b3a39;
  }
  &:hover .myDayButtonClose {
    stroke: #a19f9d;
  }
}
.myDayButton {
  width: 100%;
  cursor: auto;
  span {
    color: #78bafd;
  }
  svg {
    margin-right: 15px;
  }
}
.detailsIcon {
  margin-right: 15px;
}
.myDayButtonClose {
  stroke: transparent;
  flex-basis: 40px;
  cursor: pointer;
  vertical-align: middle;
}
.reminderTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover button {
    background-color: #3b3a39;
  }
  &:hover .myDayButtonClose {
    stroke: #a19f9d;
  }
}
.reminderButton {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: auto;
  svg {
    margin-right: 15px;
    vertical-align: middle;
  }
  .reminderButtonTime {
    color: #78bafd;
  }
  .reminderButtonDate {
    font-size: 12px;
    color: #a19f9d;
  }
}
.deadlineTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover button {
    background-color: #3b3a39;
  }
  &:hover .myDayButtonClose {
    stroke: #a19f9d;
  }
}
.deadlineButton {
  width: 100%;
  cursor: auto;
  svg {
    margin-right: 15px;
    vertical-align: middle;
    stroke: #78bafd;
  }
}
.deadlineIsExpired {
  color: #f1707b;
  svg {
    stroke: #f1707b;
  }
}
.deadlineCurrent {
  color: #78bafd;
}
.importantButton {
  margin-left: 20px;
  background-color: transparent;
  border: 0;
}

.star {
  min-height: 16px;
  min-width: 16px;

  // fill: #252423;
  stroke: #78bafd;
  cursor: pointer;
  // &:hover {
  //   fill: #78bafd;
  // }
}

.detailsBodyInput {
  width: 100%;
  background-color: #252423;
  border: 0;
  color: #fff;
  font-size: 18px;
  resize: none;
  overflow: hidden;
}
.detailsDatePicker {
  position: relative;
  top: 0;
  right: -10px;
}

.detailsFooter {
  display: flex;
  justify-content: space-between;
  button {
    border: 0;
    background-color: transparent;
  }
  &::before {
    content: '';
    display: inline;
    position: absolute;
    // top: 0;
    // left: 15px;
    right: 25px;
    width: 315px;
    transform: translateY(-20px);
    // margin: 0 auto;
    height: 1px;
    background-color: #a19f9d;
  }
}

.detailsOpen {
  display: flex;
}
.detailsClosed {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .detailsWrapper {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    // padding-bottom: 60px;
    z-index: 1;
  }
  .detailsDatePicker {
    position: static;
  }
  .detailsFooter {
    margin-bottom: 60px;
    &::before {
      content: '';
      position: absolute;
      left: 15px;
      width: 92%;
      height: 1px;
      transform: translateY(-20px);
      background-color: #a19f9d;
    }
  }
  .myDayButtonClose {
    stroke: #a19f9d;
  }
}
@media (min-width: 1025px) {
  .detailsWrapper {
    max-width: 300px;
  }
}
