.sideBar {
  max-width: 290px;
  height: 100%;
  padding: 25px 0;
  background-color: #252423;
  border-right: 1px solid #252423;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    min-height: 45px;
    &:hover {
      background-color: #323130;
    }
  }
  .sideBarBurger {
    margin: 5px 25px;
    cursor: pointer;
  }
  .listItem {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  .lastStaticList {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #484644;
  }
  .addList {
    display: flex;
    align-items: center;
    min-height: 45px;
    padding: 0 25px;

    .addListButton {
      height: 45px;
      vertical-align: middle;
      border: 0;
      background-color: #252423;
      font-size: 24px;
      color: #78bafd;
    }
    .addListInput {
      height: 45px;
      border: 0px;
      padding: 8px 15px;
      padding-left: 42px;
      border-radius: 5px;
      font-size: 16px;
      color: #fff;
      background-color: #252423;
      &::placeholder {
        color: #78bafd;
      }
      &:focus {
        &::placeholder {
          color: #969f9d;
        }
      }
    }
  }
}

.sideBarOpen {
  display: block;
}
.sideBarClosed {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .sideBar {
    position: fixed;
    width: 100%;
    z-index: 1;
    li {
      padding: 0 15px;
    }
  }
  .addListInput {
    width: 150px;
  }
}
