.sideBar {
    // position: fixed;
    // top: 60px;
    // left: 0;
    // bottom: 0;
    // width: 15%;
    height: 100vh;
    padding: 25px;
    background-color: #252423;
    border-right: 1px solid  #252423 ;
}

li {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.listItem {
    display: flex;
    align-items: center;
    
    svg{
        margin-right: 10px;
    }
}

.lastStaticList {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #484644;
}
.addListButton {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border: 0;
    background-color: #252423;
    font-size: 24px;
    color: #78BAFD;
    
}
.input {
    border: 0px;
    padding: 8px 15px;
    padding-left: 42px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #252423;
    &::placeholder{
        color: #78BAFD;
    }
    &:focus {
        &::placeholder{
            color: #969F9D;
        }
    }
  }