@import './variables';
@import './libs/normalize';
@import './reset.scss';
@import './components/all';

body {
  color: #fff;
  background-color: #11100F;
  margin: 0;
}
p {
  color: #fff;
}
span {
  color: #fff;
}
.app {
 
    display: grid; 
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
}


.container {
    border-radius: 10px;
    
    @media (max-width: 645px) {
      width: calc(100vw - 30px);
      margin-top: 15px;
    }
  }

  .wrapper {
    display: flex;
  }

  .settings {
    margin-right: 35px;
  }

 .header {
  grid-area: header;
 }
 .sidebar {
  grid-area: sidebar;
 }
 .content {
  grid-area: content;
 }